# 环境变量（敏感信息）
.env
*.env
.gitignore

# Python 缓存
__pycache__/
*.pyc
*.pyo
*.pyd
*.CLAUDE.md
# Jupyter Notebook
.ipynb_checkpoints/

# 虚拟环境
venv/
env/
*.test*/
*.Test/
*.MLIP/
.conda/

# 系统文件
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
mp_api/
# Large model files
/Tool_use/Structure_tool/MLIP/

# Test calculation outputs
/Tool_use/Analysis_tool/Test/

# Embedded external repository
/mp_api/